html {
    &.overflow-hidden {
        overflow: hidden;
    }
}



.header {

    // @media (max-width:992px) {
    //     padding: 6px 0;
    // }

    .submenus {
        .nav-man-col {
            @media (min-width:992px) and (max-width: 1199px) {
                -ms-flex: 0 0 83.333333%;
                flex: 0 0 83.333333%;
                max-width: 83.333333%;
            }
        }
    }


    &-info-nav-bar {
        padding-right: 65px;
        position: relative;
        .cart-btn {
            position: absolute;
            z-index: 1001;
            right: 0;
            height: 50px;
            width: 50px;
            top: 0;
            margin-top: -15px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("../img/cart.png"); 
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/cart.svg");

            @media (max-width: 992px) {
                top: -25px;
            }

            .icon {
                width: 20px;
                height: 20px;
                top: 12px;
                right: 4px;
                position: absolute;
                background: #b27c16;
                border-radius: 50%;
                text-align: center;
                font-size: 14px;
                color: #fff;
                line-height: 20px;
                background: -moz-linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
                background: -webkit-linear-gradient(45deg, #b27c16 0%,#d5a719 34%,#eec416 67%,#fad201 100%);
                background: linear-gradient(45deg, #b27c16 0%,#d5a719 34%,#eec416 67%,#fad201 100%);
            }
        }
    }

    &-info-search {
        
        &-home {
            display: none;
        }

        &- {
            @media (min-width:992px) and (max-width: 1199px) {
                margin-top: 15px;
            }
        }
    }

    .header-info > ul > li {

        a {
            @media ( min-width: 1200px) and (max-width:1400px) {
                font-size: 13px;
            }
        }

        .submenu-list {
            position: fixed;
            top:90px;
            left: 0;
            right: 0;
            padding: 40px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.14) 0px 16px 32px;
            background: #fff;
            border: 1px solid #efefef;
            z-index: 1000;
            visibility: hidden;
            opacity: 0;
            transition: 0.2s 1s;

            // &.open {
            //     display: block;
            // }

            ul {
                li {
                    width: 25%;
                    float: left;
                    display: block;
                    a {
                        color: #697788;
                        display: block;
                        padding: 6px 0;
                        text-align: left;
                    }
                }
            }
        }

        &:hover {
            .submenu-list {
                opacity: 1;
                visibility: visible;
                transition-delay: 0s;
            }
        }

    }

    .submenus {
        position: relative;
        //margin-top: -25px;
        .submenu-list {
            position: absolute;
            top:25px;
            left: 0;
            right: 0;
            padding: 40px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.14) 0px 16px 32px;
            background: #fff;
            border: 1px solid #efefef;
            z-index: 1000;
            //display: none;
            visibility: hidden;
            opacity: 0;
            transition: 0.2s 1s;

            &.open {
                opacity: 1;
                visibility: visible;
                transition-delay: 0s;
            }

            ul {
                li {
                    width: 25%;
                    float: left;
                    display: block;
                    a {
                        color: #697788;
                        display: block;
                        padding: 6px 0;
                        transition: all ease 450ms;

                        &:hover {
                            color: #b27c16;
                        }
                    }
                }
            }
        }
    }

    .logo-drop {
        position: relative;
        z-index: 1001;
        text-align: center;
    }

    .mobile-menu-btn {
        position: absolute;
        z-index: 1001;
        left: 15px;
        top: -10px;
        width: 60px;
        height: 60px;
        overflow: hidden;
        padding: 0;
        .navbar-toggler-icon {
            background-color: #b27c16;
        }

        svg {
            width: 150%;
            height: 150%;
            cursor: pointer;
            position: relative;
            margin-left: -30%;
            margin-top: -30%;

            .path-line {
              fill: none;
              transition:all 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) ;
              stroke-width: 40px;
              stroke-linecap: round;
              stroke: #636363;
              stroke-dashoffset: 0px;

              &#top, &#bottom {
                stroke-dasharray: 240px 950px;
              }

              &#middle {
                stroke-dasharray: 240px 240px;
              }
            }
        }

        &.cross {
            svg {
              .path-line {
                &#top, &#bottom {
                  stroke-dashoffset: -650px;
                  stroke-dashoffset: -650px;
                }
                &#middle {
                  stroke-dashoffset: -115px;
                  stroke-dasharray: 1px 220px;
                }
              }
            }
        }
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        left: -100%;
        bottom: 0;
        max-width: 100%;
        width: 100%;
        padding: 20px;
        padding-top: 110px;
        overflow: scroll;
        z-index: 1000;
        background-color: #ffffff;
        text-align: left;
        transition: all ease 450ms;

        @media (min-width: 767px) and (max-width:992px) {
            max-width: 360px;
        }

        &.open {
            left: 0;
        }

        ul {
            overflow: scroll;
            height: 100%;
            li {
                border-bottom: #acb1b7 solid 1px;
                padding: 20px 0;
                a {
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }

        .drop {
            display: none;

            &.open {
                display: block;
            }

            li {
                border-bottom: none;
                padding: 6px 0;
                a {
                    color: #697788;
                    font-weight: 100;
                }
            }
        }
    }
}

.home-search-form {
    form {
        position: relative;
        .filter-selection  {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            width: 160px;

            &:after {
                content: '';
                width: 1px;
                height: 25px;
                background-color: #dedede;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
            }

            .icon-wrap {
                width: 24px;
                height: 24px;
                position: absolute;
                top:0;
                left: 30px;
                bottom: 0;
                margin: auto;
                background-position: center;
                background-repeat: no-repeat;

                &.printer {
				    background-image: url("../img/printer.png"); 
				    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/printer.svg");
                }

                &.cartridge {
				    background-image: url("../img/cartridge.png"); 
				    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/cartridge.svg");
                }
            }

            select {
                padding-left: 70px;
                background-image: url("../img/down_arrow.png");
                background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/down_arrow.svg");
            }
            
        }
        input {
            padding-left: 180px;
        }
    }
} 

.item-area {
    .single-item {

        .item-pages {
            width: auto;

            @media (max-width:767px) {
                width: 50%;
            }

            .item-page {
                margin-bottom: 15px;
                text-align: left;
                width: 100%;
                padding: 5px 0;
                padding-left: 50px;
                background-position: left;
                background-repeat: no-repeat;
                background-image: url("../img/cartridge_big.png"); 
                background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/cartridge_big.svg");
                
                .dot-img-wrap {
                    min-width: 60px;
                    display: inline-block;
                }

                p {
                    font-size: 14px;
                    margin: 0;
                    display: inline-block;
                }

                @media (max-width:992px) {
                    padding-left: 0;
                    margin-left: 0;
                    background: none;

                    .dot-img-wrap {
                        min-width: 45px;
                    }

                    p {
                        font-size: 11px;
                    }
                }
            }
        }


        .item-info {

            &-responsive {
                display: none;
                @media (max-width:992px) {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;

                    .theme-cart-btn {
                        height: 40px;
                    }
                }
            }

            &.w-80 {
                width: 60%;

                @media (max-width: 992px) {
                    width: 100%;
                }

                @media (max-width: 767px) {
                    width: 50%;
                }
            }

            .product-more-link {
                padding-left: 30px;
                position: relative;
                font-size: 14px;
                color: #b8870f;
                display: inline-block;
                margin: 16px 0;

                &:after {
                    content: '';
                    display: block;
                    width: 20px;
                    height: 20px;
                    background-position: center;
                    background-repeat: no-repeat;
				    background-image: url("../img/details.png"); 
				    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/details.svg");
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    margin: auto;
                }
            }

            .product-ask-question {
                background-color: transparent;
                border: #b27c16 1px solid;
                display: inline-block;
                color: #000000;
            }

            .price-wrap {
                .price {
                    font-size: 20px;
                    span {
                        &.color {
                            color: #b8870f;
                        }
                        &.big {
                            font-size: 26px;
                        }
                    }
                }
                .price-with-vat {
                    font-size: 16px;
                }
                .delivery {
                    font-size: 14px;
                }
            }

            .quantity-wrap {
                margin: 35px 0;
                display: inline-block;

                &-inner {   
                    position: relative;
                    height: 40px;
                    width: 143px;     
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url("../img/button.png"); 
                    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/button.svg"); 
                }

                &-input{
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    padding: 5px 40px;
                    text-align: center;
                }

                &-btn {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 36px;
                    background: transparent;
                    border: none;
                    cursor: pointer;

                    &.de{
                       left: 0; 
                    }

                    &.in {
                        right: 0;
                    }
                }   
                
            }

            .theme-cart-btn {
                color: #fff;
                background: -moz-linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
                background: -webkit-linear-gradient(45deg, #b27c16 0%,#d5a719 34%,#eec416 67%,#fad201 100%);
                background: linear-gradient(45deg, #b27c16 0%,#d5a719 34%,#eec416 67%,#fad201 100%);
            }
        }
    }

    .suggestion-item {
        .item-info {
            .suggestion-price-den {
                margin: 15px 0 30px;
            }
        }
    }
}

.product-description {
    padding-top: 100px;

    &-inner {
        padding: 40px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.14) 0px 16px 32px;

        @media (max-width:992px) {
            padding: 25px 0;
            box-shadow: none;
        }

        &.left-child{
            margin-right: 10px;

            @media (max-width:992px) {
                margin-right: 0;
            }
        }

        &.right-child{
            margin-left: 10px;

            @media (max-width:992px) {
                margin-left: 0;
            }
        }

        .heading-wrap {
            margin-bottom: 40px;
            position: relative;

            &:after {
                content: '';
                height: 1px;
                width: 100%;
                background-color: #dee2e6;
                position: absolute;
                bottom: 7px;
                left: 0;
                right: 0;
                display: block;
                z-index: -1;
            }
            h2 {
                font-size: 30px;
                background-color: #fff;
                display: inline-block;
                position: relative;
                font-weight: 100;

                @media (max-width:1440px) {
                    font-size: 20px;
                }
            }
        }

        .table td, .table th{
            border: none;
            font-size: 14px;
        }

        p , strong, b {
            font-size: 14px;
        }
    }
}

.questions-wrap {
    padding: 75px 0;
    background-color: #eff0f1;
    margin-bottom: 50px;

    p, span {
        @media (min-width: 768px) and (max-width:1440px) {
            font-size: 14px;
        }
    }

    .questions-form {
        padding: 50px 0;
        display: none;
        input {
            padding: 10px;
            border-radius: 25px;
        }
        textarea {
            height: 160px;
            border-radius: 20px;
        }
    }

    .questions-btn {
        min-width: 180px;

        @media (max-width: 767px) {
            margin-top: 25px;
        }
    }

    .header-wrap {
        margin-top: 25px;
        margin-bottom: 40px;
        position: relative;

        &:after {
            content: '';
            height: 1px;
            width: 100%;
            background-color: #dee2e6;
            position: absolute;
            bottom: 7px;
            left: 0;
            right: 0;
            display: block;
            z-index: 0;
        }
        h2 {
            font-size: 30px;
            background-color: #eff0f1;
            display: inline-block;
            position: relative;
            font-weight: 100;
            z-index: 1;

            @media (max-width:1440px) {
                font-size: 20px;
            }
        }
    }

    &-item {
        margin-top: 50px;
        padding: 25px 0;
        border-top: 2px solid #dedede;

        &-empty {
            margin-bottom: 50px;
        }

        .item-details  {
            padding-left: 40px;
            position: relative;

            &:after {
                content: '';
                width: 25px;
                height: 25px;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                left: 0;
            }

            .user-details {
                margin: 15px 0;
                span {
                    color: #b27c16;
                }
            }

            &.questions-details {
                padding-left: 40px;

                &:after {
                    background-image: url("../img/q.png"); 
                    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/q.svg");
                }
            }

            &.answer-details {
                margin-left: 40px;
                margin-top: 30px;

                &:after {
                    background-image: url("../img/a.png"); 
                    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/a.svg");
                }
            }
        }

        
    }

    &-similler {
        ul {
            list-style: none;
            li {
                float: left;
                width: 30%;
            }
        }
    }
}

.billing-wrap {
    border-radius: 15px;
    padding: 35px 0;
    border: 1px solid #e8e8e8;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 16px 32px;

    @media (max-width: 992px) {
        box-shadow: none;
        border: none;
    }

    p {
        font-size: 14px;

        span {
            font-size: 20px;
        }
    }

    .cart-wrap {

        .header-cart {
            padding: 15px 10px;

            @media (max-width: 767px) {
                display: none !important;
            }
        }

        .item-cart {
            padding: 25px  10px;
            border-top: 2px solid #e6e6e6;
            display: block !important;
        }

        .total-cart {
            padding: 35px  10px;
            border-top: 2px solid #e6e6e6;
        }

        .cart-col {
            padding:  0 20px;
            float: left;

            @media (max-width: 992px) {
                padding:  0 10px;
            }
        
            &.image-col {
               width: 10%; 

                @media (max-width: 992px) {
                    width: 20%; 
                }

                @media (max-width: 767px) {
                    width: 40%; 
                }

                .cart-item {
                    > img {
                        border: 1px solid #ddd;
                        border-radius: 100%;
                    }
                }
            }
        
            &.name-col {
                width: 25%;

                @media (max-width: 767px) {
                    width: 60%; 
                }
            }
        
            &.delivery-col {
               width: 25%; 
               text-align: center;

                @media (max-width: 992px) {
                    display: none;
                }
            }
        
            &.quantity-col {
               width: 15%; 
               text-align: right;

                @media (max-width: 992px) {
                    width: 30%; 
                }

                @media (max-width: 767px) {
                    text-align: center;
                    width: 100%; 
                    padding: 30px 0;
                }

               .quantity-wrap {
                    display: inline-block;

                    &-inner {   
                        position: relative;
                        height: 32px;
                        width: 115px; 
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        background-image: url("../img/button.png"); 
                        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/button.svg"); 

                        @media (max-width: 1440px) {
                            height: 26px;
                            width: 90px; 
                        }

                        @media (max-width: 1200px) {
                            width: 70px; 
                        }

                        @media (max-width: 767px) {
                            height: 32px;
                            width: 115px;
                        }   
                    }

                    &-input{
                        width: 100%;
                        height: 100%;
                        background: transparent;
                        padding: 5px 30px;
                        text-align: center;

                        @media (max-width: 1440px) {
                            padding: 5px 22px; 
                        }
                    }

                    &-btn {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        width: 30px;
                        background: transparent;
                        border: none;
                        cursor: pointer;

                        @media (max-width: 1440px) {
                            width: 22px; 
                        }

                        &.de{
                        left: 0; 
                        }

                        &.in {
                            right: 0;
                        }
                    }   
                    
                }

                .clear-btn {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background-color: #000000;
                    border-radius: 50%;
                    color: #ffffff;
                    border: navajowhite;
                    font-size: 14px;
                    line-height: 20px;
                    padding: 0;
                    vertical-align: middle;
                    margin-left: 20px;
                    text-align: center;

                    @media (max-width: 1440px) {
                        margin-left: 0px;
                    }

                    @media (max-width: 992px) {
                        margin-left: 10px;
                    }

                }
            }
        
            &.vat-col {
               width: 13%; 
               text-align: right;

               @media (max-width: 992px) {
                    width: 20%; 
                }

                @media (max-width: 767px) {
                    text-align: left;
                    width: 50%; 
                }
            }

            &.total-calc-col {
                width: 88%; 
                text-align: right;

                @media (max-width: 992px) {
                    width: 80%; 
                }

                @media (max-width: 767px) {
                    text-align: left;
                    width: 50%; 
                }
            }
         
            &.total-col {
                width: 12%; 
                text-align: right;

                @media (max-width: 992px) {
                    width: 20%; 
                }

                @media (max-width: 767px) {
                    width: 50%; 
                }
            }

            &.checkout {
                padding-top: 50px;
                a {
                    background: -moz-linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
                    background: -webkit-linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
                    background: linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
                }
            }
        }
    }

    .account {
        &-wrap {
            padding: 0 35px;

            @media (max-width: 992px) {
                padding: 0;
            }
        }
        &-inner {
            position: relative;

            .col-md-7 {
                padding-right: 70px;

                @media (max-width: 767px) {
                    padding-right: 15px;
                }
            }

            &:after {
                content: '';
                position: absolute;
                width: 1px;
                height: 85%;
                bottom: 0;
                top: 0;
                left: 56%;
                background-color: #efefef;
                margin: auto;

                @media (max-width: 767px) {
                    display: none;
                }
            }


            h2 {
                font-weight: 100;
                font-size: 26px;
                margin-bottom: 40px;
            }

            .check-input {
                padding-bottom: 15px;
                margin-bottom: 35px;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    width: 25%;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    background-color: #efefef;
                }

                label {
                    width: 100%;
                    img {
                        position: absolute;
                        top: -16px;
                        left: 25%;
                    }
                }
            }

            .card-pay-wrap {
                display: none;
            }

            input, select {
                margin-bottom: 5px;
                padding: 5px 15px;
                border-radius: 25px;
                border: 1px solid #e6e6e6;
            }

            .subtotal {
                margin-bottom: 50px;
                .d-flex {
                    .flex-fill {
                        padding: 10px 0;
                        width: 65%;
                    }
                    .price-wrap {
                        padding: 10px 0;
                        text-align: right;
                        width: 35%;
                    }

                    &.total-wrap {
                        margin-top: 45px;
                        border-top: #000000 solid 1px;
                        border-bottom: #000000 solid 1px;
                    }
                }
            }

            .itemcart {
                .d-flex {
                    .flex-fill {
                        padding: 10px 0;
                        width: 65%;
                    }
                    .price-wrap {
                        padding: 10px 0;
                        text-align: right;
                        width: 35%;
                    }
                }

                .next {
                    margin-top: 80px;
                    a {
                        background: -moz-linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
                        background: -webkit-linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
                        background: linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
                    }
                }
            }

            .successfull-wrap {
                padding: 100px 0;
                text-align: center;

                img {
                    margin-bottom: 25px;
                }

                p {
                    font-size: 26px;
                    font-weight: 100;
                    padding-top: 15px;

                    span {
                        display: block;
                        font-size: 18px;
                        color: #d5a719;
                    }
                }
            }
        }
    }

}

.product-search {
    padding: 80px 0 130px 0;
    text-align: center;
    border-top: #000000 solid 1px;
    &-inner {
        padding-top: 50px;
        max-width: 500px;
        margin: auto;
    }

    &-item {
        margin-bottom: 50px;
        .header-wrap {
            margin-bottom: 35px;
            position: relative;

            &:after {
                content: '';
                height: 1px;
                width: 100%;
                background-color: #dee2e6;
                position: absolute;
                bottom: 7px;
                left: 0;
                right: 0;
                display: block;
                z-index: 0;
            }
            h2 {
                font-size: 22px;
                background-color: #fff;
                display: inline-block;
                position: relative;
                font-weight: 100;
                z-index: 1;
    
            }

        }

        .content-wrap {
            ul {
                li {
                    display: inline-block;
                    float: left;
                    width: 33.33%;

                    @media (max-width: 992px) {
                        width: 50%;
                    }

                    @media (max-width: 767px) {
                        width: 100%;
                    }

                    a {
                        color: #242e3c;
                        margin-bottom: 5px;
                        display: block;
                    }

                    a:hover{
                        color: #007bff;
                        margin-bottom: 5px;
                        display: block;
                    }
                }
            }
        }
    }
}

.search-header-wrap {
    margin-bottom: 55px;
    position: relative;

    &:after {
        content: '';
        height: 1px;
        width: 100%;
        background-color: #dee2e6;
        position: absolute;
        bottom: 7px;
        left: 0;
        right: 0;
        display: block;
        z-index: 0;
    }
    h2 {
        font-size: 30px;
        background-color: #fff;
        display: inline-block;
        position: relative;
        font-weight: 100;
        z-index: 1;

    }
}

.confirm-popup {
    text-align: center;
    display: none;

    img.tick {
        display: inline-block;
        margin: 70px 0;
    }

    h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    p {
        font-size: 20px;
        margin-bottom: 10px;
    }

    &-btn {
        margin-bottom: 15px;
        box-shadow: rgba(0, 0, 0, 0.25);
        background: -moz-linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
        background: -webkit-linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
        background: linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
    }

    &-border-btn {
        margin-bottom: 5px;
        background: transparent;
        color: #000000;
        border: #000000 solid 1px;
    }
}