@media only screen and (min-width: 1410px){
	.container {
		max-width: 1380px;
	}
}
@media only screen and (max-width: 1420px){
	.default-body {
		background-position: top 0 right -30px;
	}
	.item-info h3 {
		font-size: 16px;
	}

	.item-pages,.item-info h4 {
	    /* padding-left: 20px; */
	}
	.item-pages {
		width: 250px;
	}
}
@media only screen and (max-width: 1320px){
	.default-body {
		background-position: top 0 right -80px;
	}
}

@media only screen and (max-width: 1199px){
	.default-body {
		background-position: top 30px right -80px;
	}
	.item-icon {
    height: 60px;
    width: 60px;
    margin: auto;
}

.item-icon img {
    max-width: 18px;
    margin: 8px auto 0;
}

.item-pages, .item-info h4 {
    padding-left: 0;
}

i.circle {
    width: 11px;
    height: 11px;
}

.item-page p {
    font-size: 12px;
    margin-top: 8px;
}
.header .col-xl-4.col-md-12 {
    order: 2;
}

.header-info form {
    max-width: 485px;
    margin: 30px auto 0;
}
.item-pages {
	width: 200px;
}
}
@media only screen and (max-width: 991px){
	.default-body {
		background-position: top -40px center;
	}

	.header {
		padding-top: 20px;
	}

	.footer {
		padding-bottom: 50px;
	}

	.footer-content span {
		display: block;
	}
	.search-item p {
    font-size: 13px;
}

.search-item h2 {
    font-size: 22px;
	margin-bottom: 4px;
}
.search-name {
    padding-top: 0;
}

.header {
    padding-bottom: 20px;
}
/* printer*/
.single-item .flexbox-center .flexbox-center {
    display: block;
}

.item-info h3 {
    font-size: 16px;
}

.item-info ul li {
    font-size: 14px;
    line-height: 24px;
}

.item-info h4 {
    display: none;
}

.item-page {
    margin-right: 0;
    margin-left: 10%;
    width: 45%;
}
.item-page:first-child {
    margin-left: 0;
}

.item-pages {
    float: right;
    margin-bottom: 18px;
    margin-right: 0;
	width: 100%;
}
.item-page p {
    font-size: 11px;
}

.item-area {
    padding-bottom: 55px;
}
.header-info form input {
    padding: 15px 15px 15px 25px;
}
/* search */
.search-item h2 {
    margin-top: 22px;
}
.search-result span {
    margin-top: 0;
}

.search-result span::before {
    top: 0;
}
}
@media only screen and (max-width: 767px){
.default-body {
    background-position: center center;
    background-size: cover;
	min-height: 100vh;
    background-image: url(../img/mobile-body-bg.jpg);
    background: none;
}
.header {
    padding-top: 16px;
    text-align: center;
}

.item-info > a > p > img {
    /* width: 100px;
    height: 100px; */
    width: 40vw;
    height: auto;
    max-width: initial;
}

.footer {
    padding-bottom: 32px;
}

.default-body .footer-content, .default-body .footer-content a {
    color: #9a8c78;
}

.footer-content p {
    margin-top: 15px;
}

.form-area {
    padding: 20px 0 125px;    
    height: 66vh;
}

.form-content form {
    margin: 55px 0 0;
}

.form-content p {
    display: none;
}

.footer-content > a:not(.scrollToTop) {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
	display: block;
}

.footer-content > a i {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 100%;
    color: #222;
    background: #d7ae07;
    font-size: 16px;
    margin-right: 10px;
}

/* .form-content form input {
    padding: 10px 25px;
} */

.footer-content span {
    display: inline-block;
}

.form-content h2 {
    font-size: 22px;
}

.theme-btn {
    padding: 8px 26px;
}

.form-content form button {
    padding-right: 15px;
}
/* printer */
/* .search-name .col-md-3 {
    order: 1;
} */

.search-item {
    margin: 0 0 22px;
}

.search-item h2 {
    font-size: 18px;
}

.search-item p {
    font-size: 14px;
    line-height: 21px;
}

.search-item img {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: auto;
    max-width: 110px;
    display: block;
}

.search-name {
    padding: 10px 0 13px;
}

.footer-content {
    font-size: 11px;
    line-height: 18px;
}
.item-info h3 {
    font-size: 18px;
    margin-bottom: 18px;
}

.single-item .flexbox-center .flexbox-center {
    display: flex;
}

.item-info h4 {
    margin: 0;
    display: block;
}

.item-info .item-pages {
    display: none;
}

.item-info img {
    max-width: 105px;
}

.item-pages {
    margin: 0;
}

.item-info ul {
    margin: 20px 0;
}
.item-info ul li {
    background-size: 11px auto;
    padding-left: 15px;
    font-size: 13px;
    line-height: 23px;
}
.item-info .theme-btn img {
    max-width: 12px;
    margin-left: 2px;
}
/* .single-item {
    padding: 48px 0 45px;
} */

.search-name {
    padding-bottom: 0;
}
.item-area {
    padding-bottom: 48px;
}
.item-pages {
	max-width: 100%;
    width: 145px;
}

.item-page {
    width: 47%;
    margin-left: 6%;
}
.item-info ul + .theme-btn {
    margin: auto;
    /*float: right;
    position: absolute;*/
    right: 0;
    top: 0;
    bottom: 0;
    height: 37px;
    padding-top: 6px;
    padding-bottom: 0;
}
.item-info {
    position: relative;
}
}
@media only screen and (max-width: 767px){
    .logo-image {
        width: 150px; 
    }
    .footer-home {
        /* position: absolute; */
        bottom: 0;
    }
    .footer-home .footer-content, .footer-home .footer-content a {
        color: initial;
    }
    .footer-content {
        font-size: 13px;
    }
}

.item-area {
    min-height: 450px;
}