/**
 *** CSS Indexing ***
 * THEME DEFAULT CSS
 * RESET CSS
 * HEADER AREA CSS
 * ABOUT AREA CSS
 * PORTFOLIO AREA CSS
 * AWARDS AREA CSS
 * INSTAGRAM CSS
 * FOOTER AREA CSS
 * PRELOADER CSS
**/

/*----------------------------------
--------- THEME DEFAULT CSS --------
----------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body {
    line-height: 25px;
    font-size: 15px;
    color: #242e3c;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
.default-body {
	background: url('../img/body-bg.png') no-repeat top right;
}

/*----------------------------
---------- RESET CSS ---------
----------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: normal;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}
h1 {
	font-size: 34px;
}
h2 {
	font-size: 30px;
}

h3 {
    font-size: 19px;
    font-weight: 600;
}

h4 {
    font-size: 18px;
}
a {
    transition: 0.4s;
}
a,
a:hover {
    color: #242e3c;
}
img {
    max-width: 100%;
    height: auto;
}
iframe {
    width: 100%;
    border: none;
}
a,
a:hover,
a:focus,
a:active,
button:focus {
    text-decoration: none;
    border: none;
    outline: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ol {
    margin-bottom: 0;
}
select:focus,
select:active {
    box-shadow: none;
    border: 0;
    outline: 0
}
input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="search"],
select,
input[type="password"],
textarea {
    padding: 20px;
    padding: 12px;
    width: 100%;
    border: none;
    font-size: 14px;
    border-radius: 0;
    background: #fff;
    color: #000;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png');
    background-repeat: no-repeat;
    background-position: right 12px center;
}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: #9da3aa;
}
textarea {
    height: 30px;
	resize: none;
}
textarea:focus {
    outline: none !important;
    box-shadow: none !important;
}
.theme-btn {
	background: #a98133;
	/* background: -moz-linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
	background: -webkit-linear-gradient(45deg, #b27c16 0%,#d5a719 34%,#eec416 67%,#fad201 100%);
	background: linear-gradient(45deg, #b27c16 0%,#d5a719 34%,#eec416 67%,#fad201 100%); */
    color: #fff;
    border: none;
	font-size: 16px;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
	border-radius: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.theme-btn:hover {
    color: #fff;
}
.flexbox-center {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.display-table {
    display: table;
    height: 100%;
    width: 100%;
}
.display-tablecell {
    display: table-cell;
    vertical-align: middle;
}

/*------------------------------------
-------- HEADER AREA CSS START --------
-------------------------------------*/
.header {
    padding: 30px 0;
    background-color: #E4E4E4;
    margin-bottom: 50px;
}

.header-new {
    padding: 30px 0;
    margin-bottom: 50px;
}

.header-info ul li {
    display: inline-block;
    margin-left: 14px;
}

.header-info ul {
    text-align: right;
	font-family: 'Roboto', sans-serif;
}

.header-info ul li a {
    border-left: 1px solid #242e3c;
    line-height: 16px;
    display: inline-block;
    color: #242e3c;
    padding-left: 14px;
}

.header-info ul li:nth-child(5) a {
    border-left: none;
}

.header-info ul li:first-child a {
    border: none;
}

.header-info ul li a i {
    margin-right: 10px;
    text-align: center;
    width: 22px;
    height: 22px;
    line-height: 22px;
    border-radius: 100%;
    color: #fff;
	background: #b27c16;
	background: -moz-linear-gradient(45deg, #b27c16 1%, #d5a719 30%, #eec416 59%, #fad201 100%);
	background: -webkit-linear-gradient(45deg, #b27c16 1%,#d5a719 30%,#eec416 59%,#fad201 100%);
	background: linear-gradient(45deg, #b27c16 1%,#d5a719 30%,#eec416 59%,#fad201 100%);
    font-size: 14px;
}

.header-info ul li a:hover {
    color: #d7ae07;
}
/*--------------------------------------
--------- HEADER AREA CSS END ---------
---------------------------------------*/

/*------------------------------------
------- FORM AREA CSS START --------
-------------------------------------*/
.form-area {
    padding: 200px 0 270px;
    text-align: center;
}

.form-content {
    max-width: 550px;
    margin: auto;
}

.form-content h2 {
    color: #9a8c78;
	font-family: 'Roboto', sans-serif;
}

@media (max-width:767px) {
.form-content h2 {
    color: #000000;
}
}

.form-content h2 span {
    display: block;
}

.form-content p {
	color: #9a8c78;
}
.form-content h2 a {
    color: #c5960c;
}

.form-content form input {
	padding-left: 30px;
}
.form-content form button {
	padding-right: 30px;
	font-size: 25px;
}
.form-content form {
    margin: 55px 0 65px;
    display: flex;
    border-radius: 40px;
    overflow: hidden;
}

.formclass
{
    margin: 55px 0 65px;
    display: flex;
    border-radius: 40px;
    overflow: hidden;
    /*box-shadow: 0 6px 20px #ddd;*/
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}


.formclass-other
{
    margin: 0;
}

@media only screen and (max-width: 992px){
	.formclass-other
    {
        margin: 15px 0 0px;
    }

}
/*--------------------------------------
--------- FORM AREA CSS END -----------
---------------------------------------*/

/*------------------------------------
------- FOOTER AREA CSS START --------
-------------------------------------*/
.footer {
	padding-bottom: 30px;
}
.footer-content a:not(.scrollToTop) {
	text-decoration: underline;
}
.footer-content > a:not(.scrollToTop) {
	text-decoration: none;
}
.footer-content > a:not(.scrollToTop) {
	display: none;
}
/*--------------------------------------
--------- FOOTER AREA CSS END -----------
---------------------------------------*/

/*------------------------ PRINTER PAGE ------------------------*/
/*------------------------------------
------- HEADER AREA CSS START --------
-------------------------------------*/
.header-info form {
    display: flex;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0 6px 20px #ddd;
}

.header-info form input {
    padding-left: 28px;
}
/*--------------------------------------
--------- HEADER AREA CSS END -----------
---------------------------------------*/

/*------------------------------------
------- SEARCH AREA CSS START --------
-------------------------------------*/
.search-item {
	margin-bottom: 30px;
}

.search-item > img {
    border: 1px solid #ddd;
    border-radius: 10px;
}

.search-item h2 {
    margin-bottom: 8px;
    font-size: 25px;
    text-align: left;
}
.search-item h2.index-hed {
    margin-bottom: 8px;
    font-size: 25px;
    text-align: center;
}
.search-item h2.note {
    margin-bottom: 8px;
    font-size: 25px;
    text-align: center;
}

.search-item p {
    text-align: left;
}

.search-item p.note-para {
    text-align: center;
}

.search-name span {
    display: inline-block;
    background: #fff;
    padding: 0 15px;
}

.search-name span::before {
    position: absolute;
    content: "";
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 15px;
    background: #ddd;
    height: 1px;
    z-index: -1;
}

/* .search-name {
    padding-top: 25px;
} */
/*--------------------------------------
--------- SEARCH AREA CSS END ----------
---------------------------------------*/

/*------------------------------------
------- ITEM AREA CSS START --------
-------------------------------------*/
.single-item {
    padding: 8px 0 8px;
    /* border-bottom: 1px solid #ddd; */
}

.single-item.single-search {
    /* padding: 20px 0 8px; */
    border-bottom: 1px solid #ddd;
    margin: 0 -15px;
    padding: 25px 15px;
    margin-bottom: 8px;
}

@media (max-width: 992px) {
.single-item.single-search {
    border: none;
    background-color: #EFEFEF;
    margin-bottom: 41px;
    box-shadow: 0 11px 14px rgba(0, 0, 0, 0.11);
}
}

.single-item.single-item-search-name {
    border-bottom: 1px solid #ddd;
    margin: 0 -15px;
    padding: 25px 15px;
    margin-bottom: 8px;
}

@media (max-width: 992px) {
    .single-item.single-item-search-name  {
        border: none;
        background-color: #EFEFEF;
        margin-bottom: 41px;
        box-shadow: 0 11px 14px rgba(0, 0, 0, 0.11);
    }
    }


.item-info h3 span {
    display: block;
}
.item-info > img {
    border: 1px solid #ddd;
    border-radius: 10px;
}
.item-info > a > p > img {
    border: 1px solid #707070;
    border-radius: 10px;
    width: 200px;
    height: auto;
}
.item-info .theme-btn img {
    max-width: 15px;
    margin-left: 5px;
}
.item-icon img {
    border: none;
    border-radius: 0;
}

.item-info h3 {
    margin-bottom: 25px;
}

.item-info ul li {
    padding-left: 25px;
    background: url(../img/shape.png) no-repeat left center;
    line-height: 32px;
    position: relative;
}

.item-info ul li:after {
    content: '-';
    left: 0;
    bottom: 0;
    position: absolute;
    display: none;
}


@media (max-width:1420px) {
    .item-info ul li {
        line-height: 22px;
        font-size: 13px;
    }
}

.single-item .flexbox-center {
    align-items: flex-start;
}

.single-item .flexbox-center .flexbox-center {
    justify-content: space-between;
}
.item-info h4 {
    margin-bottom: 25px;
	padding-left: 0px;
}

.item-page:last-child {
	margin-right: 0;
}
.item-pages {
	overflow: hidden;
	width: 280px;
	padding-left: 40px;
}
.item-page {
    text-align: center;
    width: 43%;
    margin-right: 14%;
    float: left;
}

.item-icon {
    height: 100px;
    background: #eef1f4;
    border-radius: 100%;
}

.theme-btn2 {
    background: #242e3c;
    border-radius: 30px;
    padding: 8px 18px;
}

.theme-btn3 {
    /* background: #242e3c; */
    border-radius: 30px;
    /* padding: 8px 40px; */
}

.theme-btn2 i {
    margin-left: 5px;
}

.item-area {
    padding-bottom: 70px;
}
i.circle {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    position: relative;
    background: #000;
    border: 1px solid #fff;
    display: inline-block;
}

i.circle.circle-black {
    background: #000;
}

.item-icon img {
    display: block;
    margin: 8px auto;
}

i.circle.circle-green {
    background: #00aeef;
    left: 8px;
}

i.circle.circle-pink {
    background: #ec008c;
}

i.circle.circle-yellow {
    background: #fff200;
    right: 8px;
}

.item-page p {
    margin-top: 15px;
}
/*--------------------------------------
--------- ITEM AREA CSS END -----------
---------------------------------------*/

/*------------------------------------
------- FOOTER AREA CSS START --------
-------------------------------------*/
.footer-content .scrollToTop {
    margin-left: 10px;
}
/*--------------------------------------
--------- FOOTER AREA CSS END -----------
---------------------------------------*/

/*------------------------ SEARCH PAGE ------------------------*/
/*------------------------------------
------- SEARCH AREA CSS START --------
-------------------------------------*/
.search-result span {
    /* margin-top: 20px; */
}

.search-result span::before {
    /* top: 20px; */
}
.item-info ul + .theme-btn {
    margin-top: 25px;
}
/*--------------------------------------
--------- SEARCH AREA CSS END -----------
---------------------------------------*/

/*--------------------------------------
-------- Pre Loader Style START --------
---------------------------------------*/
#preloader {
  position: fixed;
  z-index: 99999999999;
  top: 0;
  left: 0;
  overflow: visible;
  width: 100%;
  height: 100%;
  background: #fff url("../img/loader_.gif") no-repeat center center;
}
/*--------------------------------------
--------- Pre Loader Style END ---------
---------------------------------------*/
.contact-section {
    margin-bottom: 120px;
}

.contact-section h1 {
    margin-bottom: 35px;
    font-weight: 500;
}

.map-wrap {
    position: relative;
    width: 100%;
    padding-bottom: 70%;
    border-radius: 10px;
    overflow: hidden;
}

@media (max-width: 992px){
    .map-wrap { 
        padding-bottom: 100%;
    }
}

@media (max-width: 767px){
    .map-wrap { 
        margin-bottom: 35px;
    }
}

.map-wrap #map {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.contact-details {
    margin-left: 100px;
}

@media (max-width: 992px){
    .contact-details {
        margin-left: 0;
    }
}

.contact-details .contact-details-item {
    padding-left: 80px;
    min-height: 48px;
    background-size: auto;
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-top: 45px;
}

@media (max-width: 1440px){
    .contact-details .contact-details-item {
        margin-top: 30px;
    }
}

@media (max-width: 992px){
    .contact-details .contact-details-item {
        margin-top: 15px;
    }
}

.contact-details .contact-details-item p strong {
}

.contact-details .contact-details-item p strong {
    display: block;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-details .contact-details-item.location {
    background-image: url('../img/location.png')
}

.contact-details .contact-details-item.mail {
    background-image: url('../img/mail.png')
}

.contact-details .contact-details-item.phone {
    background-image: url('../img/phone.png')
}

.header-wrap-underline {
    margin-bottom: 40px;
    position: relative;
}

.header-wrap-underline::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #dee2e6;
    position: absolute;
    bottom: 7px;
    left: 0;
    right: 0;
    display: block;
    z-index: -1;
}

.header-wrap-underline h2 {
    font-size: 19px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    font-weight: 600;
}

.save-money {
    background-color: #efefef;
    padding: 30px 35px;
    border-radius: 10px;
    margin-bottom: 45px;
    border: none;
}

@media (max-width:767px){
.save-money {
    padding: 20px 20px;
    margin: 0 -15px;
}
}

.save-money h1 {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 25px;
}

p span.price_tag {
    color: #b27c16;
}

p span.prepage-tag {
    float: right;
}

@media (max-width:767px) { 
    p span.prepage-tag {
        display: none;
    }
}

.search-related-products {
    margin-bottom: 25px;
}

.search-related-products p {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 10px;
}

@media (max-width:767px) { 
    .search-related-products p.name-tag {
        height: calc(1.3 * 3 * 14px);
        overflow: hidden;
        font-weight: 600;
    }
}

.search-related-products p span {
    font-size: 14px;
    line-height: 1.3;
}

.search-related-products p a {
    font-size: 14px;
}

@media (max-width:767px) {
.search-related-products .content-info {
    /* padding-left: 15px; */
}
}

.space {
    padding-bottom: 50px;
}

.space-small {
    padding-bottom: 25px;
}

@media (max-width:1420px) {
    .space {
        padding-bottom: 32px;
    }
}

@media (max-width:767px) {
    .space {
        padding-bottom: 40px;
    }
}


.mobile-wrap-price {
    text-align: right;
}
@media (max-width:767px) {
.mobile-wrap-price .quantity-wrap {
    display: inline-block !important;
}
}

/* .tab-heading-mobile {
    padding-left: 25px;
    border-bottom: 1px solid #9da3aa;
}

.tab-content-mobile {
    display: none;
} */

.footer-back {
    padding-top: 25px;
    background-color: #E4E4E4;
}

@media (max-width:992px) {
.pagination-wrap {
    padding-bottom: 25px;
}
}

@media (max-width:767px) {
    .pagination-wrap .pagination-list {
        padding-top: 25px;
    }
    }

.pagination .page-item .page-link {
    padding: .5rem .75rem;
    margin: initial;
    margin-left: -1px;
    border: none;
    color: #000000;
}

.pagination .page-item.active .page-link {
    background-color: #a98133;
    border-color: #a98133;
    color: #EFEFEF;
}