/* line 2, ../scss/style-v2.scss */
html.overflow-hidden {
  overflow: hidden;
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 16, ../scss/style-v2.scss */
  .header .submenus .nav-man-col {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 16, ../scss/style-v2.scss */
  .header-new .submenus .nav-man-col {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}
/* line 26, ../scss/style-v2.scss */
.header-info-nav-bar {
  padding-right: 65px;
  position: relative;
}
/* line 29, ../scss/style-v2.scss */
.header-info-nav-bar .cart-btn {
  position: absolute;
  z-index: 1001;
  right: 0;
  height: 40px;
  width: 40px;
  top: 0;
  margin-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/cart.png");
  background-image: linear-gradient(transparent, transparent), url("../img/cart.svg");
  background-size: cover;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
@media (max-width: 992px) {
  /* line 29, ../scss/style-v2.scss */
  .header-info-nav-bar .cart-btn {
    top: -25px;
  }
}
@media (max-width: 767px) {
  /* line 29, ../scss/style-v2.scss */
  .header-info-nav-bar .cart-btn {
    top: -40px;
  }
}
/* line 46, ../scss/style-v2.scss */
.header-info-nav-bar .cart-btn .icon {
  width: 20px;
  height: 20px;
  top: 12px;
  right: 4px;
  position: absolute;
  background: #b27c16;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  background: -moz-linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
  background: -webkit-linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
  background: linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
}
/* line 67, ../scss/style-v2.scss */
.header-info-search-home {
  display: none;
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 71, ../scss/style-v2.scss */
  .header-info-search- {
    margin-top: 15px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  /* line 80, ../scss/style-v2.scss */
  .header .header-info > ul > li a {
    font-size: 13px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  /* line 80, ../scss/style-v2.scss */
  .header-new .header-info > ul > li a {
    font-size: 13px;
  }
}
/* line 86, ../scss/style-v2.scss */
.header .header-info > ul > li .submenu-list {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 16px 32px;
  background: #fff;
  border: 1px solid #efefef;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s 1s;
}
/* line 86, ../scss/style-v2.scss */
.header-new .header-info > ul > li .submenu-list {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 16px 32px;
  background: #fff;
  border: 1px solid #efefef;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s 1s;
}
/* line 106, ../scss/style-v2.scss */
.header .header-info > ul > li .submenu-list ul li {
  width: 25%;
  float: left;
  display: block;
}
/* line 106, ../scss/style-v2.scss */
.header-new .header-info > ul > li .submenu-list ul li {
  width: 25%;
  float: left;
  display: block;
}
/* line 110, ../scss/style-v2.scss */
.header .header-info > ul > li .submenu-list ul li a {
  color: #697788;
  display: block;
  padding: 6px 0;
  text-align: left;
}
/* line 110, ../scss/style-v2.scss */
.header-new .header-info > ul > li .submenu-list ul li a {
  color: #697788;
  display: block;
  padding: 6px 0;
  text-align: left;
}
/* line 121, ../scss/style-v2.scss */
.header .header-info > ul > li:hover .submenu-list {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
/* line 121, ../scss/style-v2.scss */
.header-new .header-info > ul > li:hover .submenu-list {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
/* line 130, ../scss/style-v2.scss */
.header .submenus {
  position: relative;
}
/* line 130, ../scss/style-v2.scss */
.header-new .submenus {
  position: relative;
}
/* line 133, ../scss/style-v2.scss */
.header .submenus .submenu-list {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 16px 32px;
  background: #fff;
  border: 1px solid #efefef;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s 1s;
}
/* line 133, ../scss/style-v2.scss */
.header-new .submenus .submenu-list {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 16px 32px;
  background: #fff;
  border: 1px solid #efefef;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s 1s;
}
/* line 149, ../scss/style-v2.scss */
.header .submenus .submenu-list.open {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
/* line 149, ../scss/style-v2.scss */
.header-new .submenus .submenu-list.open {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
/* line 156, ../scss/style-v2.scss */
.header .submenus .submenu-list ul li {
  width: 25%;
  float: left;
  display: block;
}
/* line 156, ../scss/style-v2.scss */
.header-new .submenus .submenu-list ul li {
  width: 25%;
  float: left;
  display: block;
}
/* line 160, ../scss/style-v2.scss */
.header .submenus .submenu-list ul li a {
  color: #697788;
  display: block;
  padding: 6px 0;
  transition: all ease 450ms;
}
/* line 160, ../scss/style-v2.scss */
.header-new .submenus .submenu-list ul li a {
  color: #697788;
  display: block;
  padding: 6px 0;
  transition: all ease 450ms;
}
/* line 166, ../scss/style-v2.scss */
.header .submenus .submenu-list ul li a:hover {
  color: #b27c16;
}
/* line 166, ../scss/style-v2.scss */
.header-new .submenus .submenu-list ul li a:hover {
  color: #b27c16;
}
/* line 175, ../scss/style-v2.scss */
.header .logo-drop {
  position: relative;
  z-index: 1001;
  text-align: center;
}
/* line 175, ../scss/style-v2.scss */
.header-new .logo-drop {
  position: relative;
  z-index: 1001;
  text-align: center;
}
/* line 181, ../scss/style-v2.scss */
.header .mobile-menu-btn {
  position: absolute;
  z-index: 1001;
  left: 15px;
  top: -5px;    
  width: 40px;
  height: 40px;
  overflow: hidden;
  padding: 0;
}
.header-new .mobile-menu-btn {
  position: absolute;
  z-index: 1001;
  left: 15px;
  top: -5px;    
  width: 40px;
  height: 40px;
  overflow: hidden;
  padding: 0;
}
/* line 190, ../scss/style-v2.scss */
.header .mobile-menu-btn .navbar-toggler-icon {
  background-color: #b27c16;
}
/* line 190, ../scss/style-v2.scss */
.header-new .mobile-menu-btn .navbar-toggler-icon {
  background-color: #b27c16;
}
/* line 194, ../scss/style-v2.scss */
.header .mobile-menu-btn svg {
  width: 150%;
  height: 150%;
  cursor: pointer;
  position: relative;
  margin-left: -30%;
  margin-top: -30%;
}
/* line 194, ../scss/style-v2.scss */
.header-new .mobile-menu-btn svg {
  width: 150%;
  height: 150%;
  cursor: pointer;
  position: relative;
  margin-left: -30%;
  margin-top: -30%;
}
/* line 202, ../scss/style-v2.scss */
.header .mobile-menu-btn svg .path-line {
  fill: none;
  transition: all 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  stroke-width: 40px;
  stroke-linecap: round;
  stroke: #636363;
  stroke-dashoffset: 0px;
}
/* line 202, ../scss/style-v2.scss */
.header-new .mobile-menu-btn svg .path-line {
  fill: none;
  transition: all 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  stroke-width: 40px;
  stroke-linecap: round;
  stroke: #636363;
  stroke-dashoffset: 0px;
}
/* line 210, ../scss/style-v2.scss */
.header .mobile-menu-btn svg .path-line#top, .header .mobile-menu-btn svg .path-line#bottom {
  stroke-dasharray: 240px 950px;
}
/* line 210, ../scss/style-v2.scss */
.header-new .mobile-menu-btn svg .path-line#top, .header-new .mobile-menu-btn svg .path-line#bottom {
  stroke-dasharray: 240px 950px;
}
/* line 214, ../scss/style-v2.scss */
.header .mobile-menu-btn svg .path-line#middle {
  stroke-dasharray: 240px 240px;
}
/* line 214, ../scss/style-v2.scss */
.header-new .mobile-menu-btn svg .path-line#middle {
  stroke-dasharray: 240px 240px;
}
/* line 223, ../scss/style-v2.scss */
.header .mobile-menu-btn.cross svg .path-line#top, .header .mobile-menu-btn.cross svg .path-line#bottom {
  stroke-dashoffset: -650px;
  stroke-dashoffset: -650px;
}
/* line 223, ../scss/style-v2.scss */
.header-new .mobile-menu-btn.cross svg .path-line#top, .header-new .mobile-menu-btn.cross svg .path-line#bottom {
  stroke-dashoffset: -650px;
  stroke-dashoffset: -650px;
}
/* line 227, ../scss/style-v2.scss */
.header .mobile-menu-btn.cross svg .path-line#middle {
  stroke-dashoffset: -115px;
  stroke-dasharray: 1px 220px;
}
/* line 227, ../scss/style-v2.scss */
.header-new .mobile-menu-btn.cross svg .path-line#middle {
  stroke-dashoffset: -115px;
  stroke-dasharray: 1px 220px;
}
/* line 236, ../scss/style-v2.scss */
.header .mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  max-width: 100%;
  width: 100%;
  padding: 20px;
  padding-top: 110px;
  overflow: scroll;
  z-index: 1000;
  background-color: #ffffff;
  text-align: left;
  transition: all ease 450ms;
}
/* line 236, ../scss/style-v2.scss */
.header-new .mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  max-width: 100%;
  width: 100%;
  padding: 20px;
  padding-top: 110px;
  overflow: scroll;
  z-index: 1000;
  background-color: #ffffff;
  text-align: left;
  transition: all ease 450ms;
}
@media (min-width: 767px) and (max-width: 992px) {
  /* line 236, ../scss/style-v2.scss */
  .header .mobile-menu {
    max-width: 360px;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  /* line 236, ../scss/style-v2.scss */
  .header-new .mobile-menu {
    max-width: 360px;
  }
}
/* line 255, ../scss/style-v2.scss */
.header .mobile-menu.open {
  left: 0;
}
/* line 255, ../scss/style-v2.scss */
.header-new .mobile-menu.open {
  left: 0;
}
/* line 259, ../scss/style-v2.scss */
.header .mobile-menu ul {
  overflow: scroll;
  height: 100%;
}
/* line 259, ../scss/style-v2.scss */
.header-new .mobile-menu ul {
  overflow: scroll;
  height: 100%;
}
/* line 262, ../scss/style-v2.scss */
.header .mobile-menu ul li {
  border-bottom: #acb1b7 solid 1px;
  padding: 20px 0;
}
/* line 262, ../scss/style-v2.scss */
.header-new .mobile-menu ul li {
  border-bottom: #acb1b7 solid 1px;
  padding: 20px 0;
}
/* line 265, ../scss/style-v2.scss */
.header .mobile-menu ul li a {
  font-size: 18px;
  font-weight: 700;
}
/* line 265, ../scss/style-v2.scss */
.header-new .mobile-menu ul li a {
  font-size: 18px;
  font-weight: 700;
}
/* line 272, ../scss/style-v2.scss */
.header .mobile-menu .drop {
  display: none;
}
/* line 272, ../scss/style-v2.scss */
.header-new .mobile-menu .drop {
  display: none;
}
/* line 275, ../scss/style-v2.scss */
.header .mobile-menu .drop.open {
  display: block;
}
/* line 275, ../scss/style-v2.scss */
.header-new .mobile-menu .drop.open {
  display: block;
}
/* line 279, ../scss/style-v2.scss */
.header .mobile-menu .drop li {
  border-bottom: none;
  padding: 6px 0;
}
/* line 279, ../scss/style-v2.scss */
.header-new .mobile-menu .drop li {
  border-bottom: none;
  padding: 6px 0;
}
/* line 282, ../scss/style-v2.scss */
.header .mobile-menu .drop li a {
  color: #697788;
  font-weight: 100;
}
/* line 282, ../scss/style-v2.scss */
.header-new .mobile-menu .drop li a {
  color: #697788;
  font-weight: 100;
}

/* line 292, ../scss/style-v2.scss */
.home-search-form form {
  position: relative;
}
/* line 294, ../scss/style-v2.scss */
.home-search-form form .filter-selection {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 140px;
}
/* line 301, ../scss/style-v2.scss */
.home-search-form form .filter-selection:after {
  content: '';
  width: 1px;
  height: 25px;
  background-color: #dedede;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
/* line 313, ../scss/style-v2.scss */
.home-search-form form .filter-selection .icon-wrap {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 15px;
  bottom: 0;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 324, ../scss/style-v2.scss */
.home-search-form form .filter-selection .icon-wrap.printer {
  background-image: url("../img/printer.png");
  background-image: linear-gradient(transparent, transparent), url("../img/printer.svg");
}
/* line 329, ../scss/style-v2.scss */
.home-search-form form .filter-selection .icon-wrap.cartridge {
  background-image: url("../img/cartridge.png");
  background-image: linear-gradient(transparent, transparent), url("../img/cartridge.svg");
}
/* line 335, ../scss/style-v2.scss */
.home-search-form form .filter-selection select {
  padding-left: 44px;
  background-image: url("../img/down_arrow.png");
  background-image: linear-gradient(transparent, transparent), url("../img/down_arrow.svg");
}
/* line 342, ../scss/style-v2.scss */
.home-search-form form input {
  padding-left: 150px;
}

/* line 351, ../scss/style-v2.scss */
.item-area .single-item .item-pages {
  width: auto;
}
@media (max-width: 767px) {
  /* line 351, ../scss/style-v2.scss */
  .item-area .single-item .item-pages {
    width: 50%;
  }
}
/* line 358, ../scss/style-v2.scss */
.item-area .single-item .item-pages .item-page {
  margin-bottom: 0;
  text-align: left;
  width: 100%;
  padding: 5px 0;
  padding-left: 50px;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url("../img/cartridge_icon_2.png");
  background-image: linear-gradient(transparent, transparent), url("../img/cartridge_icon_2.svg");
}
/* line 369, ../scss/style-v2.scss */
.item-area .single-item .item-pages .item-page .dot-img-wrap {
  /* min-width: 60px; */
  display: inline-block;
}
/* line 374, ../scss/style-v2.scss */
.item-area .single-item .item-pages .item-page p {
  font-size: 14px;
  margin: 0;
  display: inline-block;
}
@media (max-width: 992px) {
  /* line 358, ../scss/style-v2.scss */
  .item-area .single-item .item-pages .item-page {
    padding-left: 0;
    margin-left: 0;
    background: none;
  }
  /* line 385, ../scss/style-v2.scss */
  .item-area .single-item .item-pages .item-page .dot-img-wrap {
    min-width: 45px;
  }
  /* line 389, ../scss/style-v2.scss */
  .item-area .single-item .item-pages .item-page p {
    font-size: 11px;
  }
}
/* line 399, ../scss/style-v2.scss */
.item-area .single-item .item-info-responsive {
  display: none;
}
@media (max-width: 992px) {
  /* line 399, ../scss/style-v2.scss */
  .item-area .single-item .item-info-responsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  /* line 407, ../scss/style-v2.scss */
  .item-area .single-item .item-info-responsive .theme-cart-btn {
    /* height: 40px; */
  }
}
/* line 413, ../scss/style-v2.scss */
.item-area .single-item .item-info.w-80 {
  width: 60%;
}
@media (max-width: 992px) {
  /* line 413, ../scss/style-v2.scss */
  .item-area .single-item .item-info.w-80 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* line 413, ../scss/style-v2.scss */
  .item-area .single-item .item-info.w-80 {
    width: 50%;
  }
}
/* line 425, ../scss/style-v2.scss */
.item-area .single-item .item-info .product-more-link {
  padding-left: 30px;
  position: relative;
  font-size: 14px;
  color: #b8870f;
  display: inline-block;
  margin: 16px 0;
}
/* line 433, ../scss/style-v2.scss */
.item-area .single-item .item-info .product-more-link:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/details.png");
  background-image: linear-gradient(transparent, transparent), url("../img/details.svg");
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
/* line 450, ../scss/style-v2.scss */
.item-area .single-item .item-info .product-ask-question {
  background-color: transparent;
  /* border: #b27c16 1px solid; */
  color: #b27c16;
  display: inline-block;
  margin-top: 15px;
  /* color: #000000; */
}
/* line 458, ../scss/style-v2.scss */
.item-area .single-item .item-info .price-wrap .price {
  font-size: 20px;
}
/* line 461, ../scss/style-v2.scss */
.item-area .single-item .item-info .price-wrap .price span.color {
  color: #b8870f;
}
/* line 464, ../scss/style-v2.scss */
.item-area .single-item .item-info .price-wrap .price span.big {
  font-size: 26px;
}
/* line 469, ../scss/style-v2.scss */
.item-area .single-item .item-info .price-wrap .price-with-vat {
  font-size: 16px;
}
/* line 472, ../scss/style-v2.scss */
.item-area .single-item .item-info .price-wrap .delivery {
  font-size: 14px;
}
/* line 477, ../scss/style-v2.scss */
.item-area .single-item .item-info .quantity-wrap {
  margin: 60px 0;
  margin-bottom: 10px;
  display: inline-block;
}
@media (max-width:992px){
  .item-area .single-item .item-info .quantity-wrap {
    margin: 0 0;
  }
  }
@media (max-width:767px){
.item-area .single-item .item-info .quantity-wrap {
  margin: 35px 0;
}

}

@media (max-width: 767px) {
.item-area .single-item.single-search .item-info .quantity-wrap {
    margin: 14px 0;
}
}

/* line 481, ../scss/style-v2.scss */
.item-area .single-item .item-info .quantity-wrap-inner {
  position: relative;
  height: 40px;
  width: 143px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/button.png");
  background-image: linear-gradient(transparent, transparent), url("../img/button.svg");
}
/* line 491, ../scss/style-v2.scss */
.item-area .single-item .item-info .quantity-wrap-input {
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 5px 40px;
  text-align: center;
}
/* line 499, ../scss/style-v2.scss */
.item-area .single-item .item-info .quantity-wrap-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 36px;
  background: transparent;
  border: none;
  cursor: pointer;
}
/* line 508, ../scss/style-v2.scss */
.item-area .single-item .item-info .quantity-wrap-btn.de {
  left: 0;
}
/* line 512, ../scss/style-v2.scss */
.item-area .single-item .item-info .quantity-wrap-btn.in {
  right: 0;
}
/* line 519, ../scss/style-v2.scss */
.item-area .single-item .item-info .theme-cart-btn {
  text-align: center;
  color: #fff;
  background-color: #A98133;
  transition: all ease 450ms;
  /* background: -moz-linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
  background: -webkit-linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
  background: linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%); */
}

.item-area .single-item .item-info .theme-cart-btn:hover {
  background-color: #8c610c;
}
/* line 530, ../scss/style-v2.scss */
.item-area .suggestion-item .item-info .suggestion-price-den {
  margin: 15px 0 30px;
}

/* line 537, ../scss/style-v2.scss */
.product-description {
  padding-top: 5px;
}
/* line 540, ../scss/style-v2.scss */
.product-description-inner {
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 5px;
}
.product-description-inner-no {
  padding: 0px;
  box-shadow: none;
}
@media (max-width: 992px) {
  /* line 540, ../scss/style-v2.scss */
  .product-description-inner {
    padding: 25px 0;
    box-shadow: none;
  }
}
/* line 550, ../scss/style-v2.scss */
.product-description-inner.left-child {
  margin-right: 0px;
}
@media (max-width: 992px) {
  /* line 550, ../scss/style-v2.scss */
  .product-description-inner.left-child {
    margin-right: 0;
  }
}
/* line 558, ../scss/style-v2.scss */
.product-description-inner.right-child {
  margin-left: 10px;
}
@media (max-width: 992px) {
  /* line 558, ../scss/style-v2.scss */
  .product-description-inner.right-child {
    margin-left: 0;
  }
}
/* line 566, ../scss/style-v2.scss */
.product-description-inner .heading-wrap {
  margin-bottom: 40px;
  position: relative;
}
/* line 570, ../scss/style-v2.scss */
.product-description-inner .heading-wrap:after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #dee2e6;
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  display: block;
  z-index: -1;
}
/* line 582, ../scss/style-v2.scss */
.product-description-inner .heading-wrap h2 {
  font-size: 19px;
  background-color: #fff;
  display: inline-block;
  position: relative;
  font-weight: 600;
}
@media (max-width: 1440px) {
  /* line 582, ../scss/style-v2.scss */
  .product-description-inner .heading-wrap h2 {
    font-size: 19px;
  }
}
.product-description-inner .table td, .product-description-inner .table tr {
  border-bottom: 1px solid #e4e4e4;
}

.product-description-inner .table td, .product-description-inner .table tr:last-child {
  border-bottom:none;
}
/* line 595, ../scss/style-v2.scss */
.product-description-inner .table td, .product-description-inner .table th {
  border: none;
  font-size: 14px;
  padding: 13px 0;
}
/* line 600, ../scss/style-v2.scss */
.product-description-inner p, .product-description-inner strong, .product-description-inner b {
  font-size: 14px;
}

/* line 606, ../scss/style-v2.scss */
.questions-wrap {
  padding: 50px 0;
  background-color: #eff0f1;
  margin-bottom: 50px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  /* line 611, ../scss/style-v2.scss */
  .questions-wrap p, .questions-wrap span {
    font-size: 14px;
  }
}
/* line 617, ../scss/style-v2.scss */
.questions-wrap .questions-form {
  padding: 50px 0;
  display: none;
}
/* line 620, ../scss/style-v2.scss */
.questions-wrap .questions-form input {
  padding: 10px;
  border-radius: 25px;
}
/* line 624, ../scss/style-v2.scss */
.questions-wrap .questions-form textarea {
  height: 160px;
  border-radius: 20px;
}
/* line 630, ../scss/style-v2.scss */
.questions-wrap .questions-btn {
  min-width: 180px;
}
@media (max-width: 767px) {
  /* line 630, ../scss/style-v2.scss */
  .questions-wrap .questions-btn {
    margin-top: 25px;
  }
}
/* line 638, ../scss/style-v2.scss */
.questions-wrap .header-wrap {
  margin-top: 25px;
  margin-bottom: 40px;
  position: relative;
}
/* line 643, ../scss/style-v2.scss */
.questions-wrap .header-wrap:after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #dee2e6;
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}
/* line 655, ../scss/style-v2.scss */
.questions-wrap .header-wrap h2 {
  font-size: 30px;
  background-color: #eff0f1;
  display: inline-block;
  position: relative;
  font-weight: 100;
  z-index: 1;
}
@media (max-width: 1440px) {
  /* line 655, ../scss/style-v2.scss */
  .questions-wrap .header-wrap h2 {
    font-size: 20px;
  }
}
/* line 669, ../scss/style-v2.scss */
.questions-wrap-item {
  margin-top: 50px;
  padding: 25px 0;
  border-top: 2px solid #dedede;
}
/* line 674, ../scss/style-v2.scss */
.questions-wrap-item-empty {
  margin-bottom: 50px;
}
/* line 678, ../scss/style-v2.scss */
.questions-wrap-item .item-details {
  padding-left: 40px;
  position: relative;
}
/* line 682, ../scss/style-v2.scss */
.questions-wrap-item .item-details:after {
  content: '';
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 693, ../scss/style-v2.scss */
.questions-wrap-item .item-details .user-details {
  margin: 15px 0;
}
/* line 695, ../scss/style-v2.scss */
.questions-wrap-item .item-details .user-details span {
  color: #b27c16;
}
/* line 700, ../scss/style-v2.scss */
.questions-wrap-item .item-details.questions-details {
  padding-left: 40px;
}
/* line 703, ../scss/style-v2.scss */
.questions-wrap-item .item-details.questions-details:after {
  background-image: url("../img/q.png");
  background-image: linear-gradient(transparent, transparent), url("../img/q.svg");
}
/* line 709, ../scss/style-v2.scss */
.questions-wrap-item .item-details.answer-details {
  margin-left: 40px;
  margin-top: 30px;
}
/* line 713, ../scss/style-v2.scss */
.questions-wrap-item .item-details.answer-details:after {
  background-image: url("../img/a.png");
  background-image: linear-gradient(transparent, transparent), url("../img/a.svg");
}
/* line 724, ../scss/style-v2.scss */
.questions-wrap-similler ul {
  list-style: none;
}
/* line 726, ../scss/style-v2.scss */
.questions-wrap-similler ul li {
  float: left;
  width: 30%;
}

/* line 734, ../scss/style-v2.scss */
.billing-wrap {
  border-radius: 15px;
  overflow: hidden;
  padding: 35px 0;
  border: 1px solid #e8e8e8;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 16px 32px;
}

.billing-wrap.padding-none {
  padding: 0;
}
@media (max-width: 992px) {
  /* line 734, ../scss/style-v2.scss */
  .billing-wrap {
    box-shadow: none;
    border: none;
  }
}
/* line 745, ../scss/style-v2.scss */
.billing-wrap p {
  font-size: 13px;
}

.billing-wrap p.spec-para {
  font-size: 13px;
  display: inline-block;
  margin-right: 25px;
}

.billing-wrap .cart-wrap p {
  font-size: 13px;
}

.billing-wrap .cart-wrap p.semi-bold {
  font-weight: 600;
}

.billing-wrap p.small-small {
  font-size: 11px;
  line-height: 1.1;
}
/* line 748, ../scss/style-v2.scss */
.billing-wrap p span {
  font-size: 15px;
}

.billing-wrap .cart-wrap  p span {
  font-size: 15px;
}
/* line 755, ../scss/style-v2.scss */
.billing-wrap .cart-wrap .header-cart {
  padding: 15px 10px;
  background-color: #E4E4E4;
}

.billing-wrap .cart-wrap .header-cart strong {
  font-weight: 600;
  font-size: 14px;
}

@media (max-width: 767px) {
  /* line 755, ../scss/style-v2.scss */
  .billing-wrap .cart-wrap .header-cart {
    display: none !important;
  }
}
/* line 763, ../scss/style-v2.scss */
.billing-wrap .cart-wrap .item-cart {
  padding: 25px  10px;
  border-top: 2px solid #e6e6e6;
  display: block !important;
}
/* line 769, ../scss/style-v2.scss */
.billing-wrap .cart-wrap .total-cart {
  padding: 35px  10px;
  border-top: 2px solid #e6e6e6;
}
/* line 774, ../scss/style-v2.scss */
.billing-wrap .cart-wrap .cart-col {
  padding: 0 20px;
  float: left;
}
@media (max-width: 992px) {
  /* line 774, ../scss/style-v2.scss */
  .billing-wrap .cart-wrap .cart-col {
    padding: 0 10px;
  }
}
/* line 782, ../scss/style-v2.scss */
.billing-wrap .cart-wrap .cart-col.image-col {
  width: 12%;
}
@media (max-width: 992px) {
  /* line 782, ../scss/style-v2.scss */
  .billing-wrap .cart-wrap .cart-col.image-col {
    width: 20%;
  }
}
@media (max-width: 767px) {
  /* line 782, ../scss/style-v2.scss */
  .billing-wrap .cart-wrap .cart-col.image-col {
    width: 40%;
  }
}
/* line 794, ../scss/style-v2.scss */
.billing-wrap .cart-wrap .cart-col.image-col .cart-item > img {
  border: 1px solid #ddd;
  border-radius: 10px;
}
/* line 801, ../scss/style-v2.scss */
.billing-wrap .cart-wrap .cart-col.name-col {
  width: 25%;
}
@media (max-width: 767px) {
  /* line 801, ../scss/style-v2.scss */
  .billing-wrap .cart-wrap .cart-col.name-col {
    width: 60%;
  }
}
/* line 809, ../scss/style-v2.scss */
.billing-wrap .cart-wrap .cart-col.delivery-col {
  width: 23%;
  text-align: center;
}
@media (max-width: 992px) {
  /* line 809, ../scss/style-v2.scss */
  .billing-wrap .cart-wrap .cart-col.delivery-col {
    display: none;
  }
}
/* line 818, ../scss/style-v2.scss */
.billing-wrap .cart-wrap .cart-col.quantity-col {
  width: 15%;
  text-align: right;
}
@media (max-width: 992px) {
  /* line 818, ../scss/style-v2.scss */
  .billing-wrap .cart-wrap .cart-col.quantity-col {
    width: 15%;
  }
}
@media (max-width: 767px) {
  /* line 818, ../scss/style-v2.scss */
  .billing-wrap .cart-wrap .cart-col.quantity-col {
    text-align: center;
    width: 100%;
    padding: 30px 0;
  }
}
/* line 832, ../scss/style-v2.scss */
.billing-wrap .cart-wrap .cart-col.quantity-col .quantity-wrap {
  display: inline-block;
}
/* line 835, ../scss/style-v2.scss */
.billing-wrap .cart-wrap .cart-col.quantity-col .quantity-wrap-inner {
  position: relative;
  height: 32px;
  width: 115px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../img/button.png");
  background-image: linear-gradient(transparent, transparent), url("../img/button.svg");
}
@media (max-width: 1440px) {
  /* line 835, ../scss/style-v2.scss */
  .billing-wrap .cart-wrap .cart-col.quantity-col .quantity-wrap-inner {
    height: 26px;
    width: 90px;
  }
}
@media (max-width: 1200px) {
  /* line 835, ../scss/style-v2.scss */
  .billing-wrap .cart-wrap .cart-col.quantity-col .quantity-wrap-inner {
    width: 70px;
  }
}
@media (max-width: 767px) {
  /* line 835, ../scss/style-v2.scss */
  .billing-wrap .cart-wrap .cart-col.quantity-col .quantity-wrap-inner {
    height: 32px;
    width: 115px;
  }
}
/* line 860, ../scss/style-v2.scss */
.billing-wrap .cart-wrap .cart-col.quantity-col .quantity-wrap-input {
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 5px 30px;
  text-align: center;
}
@media (max-width: 1440px) {
  /* line 860, ../scss/style-v2.scss */
  .billing-wrap .cart-wrap .cart-col.quantity-col .quantity-wrap-input {
    padding: 5px 22px;
  }
}
/* line 872, ../scss/style-v2.scss */
.billing-wrap .cart-wrap .cart-col.quantity-col .quantity-wrap-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
}
@media (max-width: 1440px) {
  /* line 872, ../scss/style-v2.scss */
  .billing-wrap .cart-wrap .cart-col.quantity-col .quantity-wrap-btn {
    width: 22px;
  }
}
/* line 885, ../scss/style-v2.scss */
.billing-wrap .cart-wrap .cart-col.quantity-col .quantity-wrap-btn.de {
  left: 0;
}
/* line 889, ../scss/style-v2.scss */
.billing-wrap .cart-wrap .cart-col.quantity-col .quantity-wrap-btn.in {
  right: 0;
}

.billing-wrap .cart-wrap .cart-col.image-col .cart-item {
  position: relative;
  padding-left: 30px;
}
/* line 896, ../scss/style-v2.scss */
.billing-wrap .cart-wrap .cart-col.image-col .clear-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #000000;
  background-image: url('../img/close_button.png');
  background-size: cover;
  border-radius: 50%;
  color: #ffffff;
  border: navajowhite;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  vertical-align: middle;
  margin-left: 20px;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto;
  cursor: pointer;
}
@media (max-width: 1440px) {
  /* line 896, ../scss/style-v2.scss */
  .billing-wrap .cart-wrap .cart-col.quantity-col .clear-btn {
    margin-left: 0px;
  }
}
@media (max-width: 992px) {
  /* line 896, ../scss/style-v2.scss */
  .billing-wrap .cart-wrap .cart-col.quantity-col .clear-btn {
    margin-left: 10px;
  }
}
/* line 922, ../scss/style-v2.scss */
.billing-wrap .cart-wrap .cart-col.vat-col {
  width: 13%;
  text-align: right;
}
@media (max-width: 992px) {
  /* line 922, ../scss/style-v2.scss */
  .billing-wrap .cart-wrap .cart-col.vat-col {
    width: 20%;
  }
}
@media (max-width: 767px) {
  /* line 922, ../scss/style-v2.scss */
  .billing-wrap .cart-wrap .cart-col.vat-col {
    text-align: left;
    width: 50%;
  }
}
/* line 936, ../scss/style-v2.scss */
.billing-wrap .cart-wrap .cart-col.total-calc-col {
  width: 88%;
  text-align: right;
}
@media (max-width: 992px) {
  /* line 936, ../scss/style-v2.scss */
  .billing-wrap .cart-wrap .cart-col.total-calc-col {
    width: 80%;
  }
}
@media (max-width: 767px) {
  /* line 936, ../scss/style-v2.scss */
  .billing-wrap .cart-wrap .cart-col.total-calc-col {
    text-align: left;
    width: 50%;
  }
}
/* line 950, ../scss/style-v2.scss */
.billing-wrap .cart-wrap .cart-col.total-col {
  width: 12%;
  text-align: right;
}
@media (max-width: 992px) {
  /* line 950, ../scss/style-v2.scss */
  .billing-wrap .cart-wrap .cart-col.total-col {
    width: 20%;
  }
}
@media (max-width: 767px) {
  /* line 950, ../scss/style-v2.scss */
  .billing-wrap .cart-wrap .cart-col.total-col {
    width: 50%;
  }
}
/* line 963, ../scss/style-v2.scss */
.billing-wrap .cart-wrap .cart-col.checkout {
  padding-top: 50px;
}
/* line 965, ../scss/style-v2.scss */
.billing-wrap .cart-wrap .cart-col.checkout a {
  background-color: #A98133;
  /* background: -moz-linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
  background: -webkit-linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
  background: linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%); */
}
/* line 975, ../scss/style-v2.scss */
.billing-wrap .account-wrap {
  padding: 0 35px;
}
@media (max-width: 992px) {
  /* line 975, ../scss/style-v2.scss */
  .billing-wrap .account-wrap {
    padding: 0;
  }
}
/* line 982, ../scss/style-v2.scss */
.billing-wrap .account-inner {
  position: relative;
}
/* line 985, ../scss/style-v2.scss */
.billing-wrap .account-inner .col-md-7 {
  padding-right: 70px;
}
@media (max-width: 767px) {
  /* line 985, ../scss/style-v2.scss */
  .billing-wrap .account-inner .col-md-7 {
    padding-right: 15px;
  }
}
/* line 993, ../scss/style-v2.scss */
.billing-wrap .account-inner:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 85%;
  bottom: 0;
  top: 0;
  left: 56%;
  background-color: #efefef;
  margin: auto;
}
@media (max-width: 767px) {
  /* line 993, ../scss/style-v2.scss */
  .billing-wrap .account-inner:after {
    display: none;
  }
}
/* line 1010, ../scss/style-v2.scss */
.billing-wrap .account-inner h2 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}
@media (max-width:1420px) {
.billing-wrap .account-inner h2 {
  margin-bottom: 2px;
}
}

.billing-wrap .account-inner .summery-h2 {
  position: relative;
}

.billing-wrap .account-inner .summery-h2:after {
  content: '';
  left: 0;
  bottom: 18px;
  height: 1px;
  width: 100%;
  background-color: #E4E4E4;
  position: absolute;
  z-index: -1;
}

.billing-wrap .account-inner .summery-h2 h2 {
  display: inline-block;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  padding-right: 15px;
}

/* line 1016, ../scss/style-v2.scss */
.billing-wrap .account-inner .check-input {
  padding-bottom: 15px;
  margin-bottom: 35px;
  position: relative;
}
/* line 1021, ../scss/style-v2.scss */
.billing-wrap .account-inner .check-input:after {
  content: '';
  position: absolute;
  width: 25%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #efefef;
}
/* line 1031, ../scss/style-v2.scss */
.billing-wrap .account-inner .check-input label {
  width: 100%;
}
/* line 1033, ../scss/style-v2.scss */
.billing-wrap .account-inner .check-input label img {
  position: absolute;
  top: -16px;
  left: 25%;
}
/* line 1041, ../scss/style-v2.scss */
.billing-wrap .account-inner .card-pay-wrap {
  display: none;
}
/* line 1045, ../scss/style-v2.scss */
.billing-wrap .account-inner input, .billing-wrap .account-inner select {
  margin-bottom: 5px;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
}

.billing-wrap .account-inner .summary-items {
  padding: 15px 0;
  border-bottom: 1px solid #e4e4e4;
}

@media (max-width:1420px) {
.billing-wrap .account-inner .summary-items {
  padding: 2px 0;
}
}

.billing-wrap .account-inner .summary-items:last-child {
  border-bottom: none;
}

/* line 1052, ../scss/style-v2.scss */
.billing-wrap .account-inner .subtotal {
  /* margin-bottom: 50px; */
}
.billing-wrap .account-inner .subtotal .subtotal-total {
  padding-top: 15px;
}

@media (max-width:1420px) { 
  .billing-wrap .account-inner .subtotal .subtotal-total {
    padding-top: 0;
  }
}

.billing-wrap .account-inner .subtotal .subtotal-total strong {
  font-weight: 600;
}
/* line 1055, ../scss/style-v2.scss */
.billing-wrap .account-inner .subtotal .d-flex .flex-fill {
  padding: 2px 0;
  width: 65%;
  text-align: right;
}
/* line 1059, ../scss/style-v2.scss */
.billing-wrap .account-inner .subtotal .d-flex .price-wrap {
  padding: 2px 0;
  text-align: right;
  width: 35%;
}
/* line 1065, ../scss/style-v2.scss */
.billing-wrap .account-inner .subtotal .d-flex.total-wrap {
  margin-top: 45px;
  border-top: #000000 solid 1px;
  border-bottom: #000000 solid 1px;
}
/* line 1075, ../scss/style-v2.scss */
.billing-wrap .account-inner .itemcart .d-flex .flex-fill {
  padding: 10px 0;
  width: 65%;
}
/* line 1079, ../scss/style-v2.scss */
.billing-wrap .account-inner .itemcart .d-flex .price-wrap {
  padding: 10px 0;
  text-align: right;
  width: 35%;
}
/* line 1086, ../scss/style-v2.scss */
.billing-wrap .account-inner .itemcart .next {
  margin-top: 20px;
}
/* line 1088, ../scss/style-v2.scss */
.billing-wrap .account-inner .itemcart .next a {
  background: -moz-linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
  background: -webkit-linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
  background: linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
}
/* line 1096, ../scss/style-v2.scss */
.billing-wrap .account-inner .successfull-wrap {
  padding: 100px 0;
  text-align: center;
}
/* line 1100, ../scss/style-v2.scss */
.billing-wrap .account-inner .successfull-wrap img {
  margin-bottom: 25px;
}
/* line 1104, ../scss/style-v2.scss */
.billing-wrap .account-inner .successfull-wrap p {
  font-size: 26px;
  font-weight: 100;
  padding-top: 15px;
}
/* line 1109, ../scss/style-v2.scss */
.billing-wrap .account-inner .successfull-wrap p span {
  display: block;
  font-size: 18px;
  color: #d5a719;
}

/* line 1121, ../scss/style-v2.scss */
.product-search {
  padding: 80px 0 130px 0;
  text-align: center;
  border-top: #000000 solid 1px;
}
/* line 1125, ../scss/style-v2.scss */
.product-search-inner {
  padding-top: 50px;
  max-width: 500px;
  margin: auto;
}
/* line 1131, ../scss/style-v2.scss */
.product-search-item {
  /* margin-bottom: 20px; */
}

.product-search-item.product-search-item-search {
  margin-bottom: 20px;
}
@media(max-width: 767px) {
.product-search-item {
  margin-bottom: -20px;
}
.product-search-item.product-search-item-search {
  margin-bottom: 20px;
}
}
/* line 1133, ../scss/style-v2.scss */
.product-search-item .header-wrap {
  margin-bottom: 35px;
  position: relative;
}
/* line 1137, ../scss/style-v2.scss */
.product-search-item .header-wrap:after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #dee2e6;
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}
/* line 1149, ../scss/style-v2.scss */
.product-search-item .header-wrap h2 {
  font-size: 22px;
  background-color: #fff;
  display: inline-block;
  position: relative;
  font-weight: 100;
  z-index: 1;
}
/* line 1163, ../scss/style-v2.scss */
.product-search-item .content-wrap ul li {
  display: inline-block;
  float: left;
  width: 33.33%;
}
@media (max-width: 1200px) {
  /* line 1163, ../scss/style-v2.scss */
  .product-search-item .content-wrap ul li {
    width: 50%;
  }
}
@media (max-width: 767px) {
  /* line 1163, ../scss/style-v2.scss */
  .product-search-item .content-wrap ul li {
    width: 100%;
  }
}
/* line 1176, ../scss/style-v2.scss */
.product-search-item .content-wrap ul li a {
  color: #242e3c;
  margin-bottom: 5px;
  display: block;
  font-size: 14px;
}
/* line 1182, ../scss/style-v2.scss */
.product-search-item .content-wrap ul li a:hover {
  color: #007bff;
  margin-bottom: 5px;
  display: block;
}

/* line 1193, ../scss/style-v2.scss */
.search-header-wrap {
  margin-bottom: 55px;
  position: relative;
}
/* line 1197, ../scss/style-v2.scss */
.search-header-wrap:after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #dee2e6;
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}
/* line 1209, ../scss/style-v2.scss */
.search-header-wrap h2 {
  font-size: 30px;
  background-color: #fff;
  display: inline-block;
  position: relative;
  font-weight: 100;
  z-index: 1;
}

/* line 1220, ../scss/style-v2.scss */
.confirm-popup {
  text-align: center;
  display: none;
}
/* line 1224, ../scss/style-v2.scss */
.confirm-popup img.tick {
  display: inline-block;
  margin: 70px 0;
}
/* line 1229, ../scss/style-v2.scss */
.confirm-popup h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
/* line 1234, ../scss/style-v2.scss */
.confirm-popup p {
  font-size: 20px;
  margin-bottom: 10px;
}
/* line 1239, ../scss/style-v2.scss */
.confirm-popup-btn {
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.25);
  background: -moz-linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
  background: -webkit-linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
  background: linear-gradient(45deg, #b27c16 0%, #d5a719 34%, #eec416 67%, #fad201 100%);
}
/* line 1247, ../scss/style-v2.scss */
.confirm-popup-border-btn {
  margin-bottom: 5px;
  background: transparent;
  color: #000000;
  border: #000000 solid 1px;
}
